
.App {
  text-align: center;
  padding: 5%;
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
}
h1{
  margin-bottom: 5%;
}
.StudentCrud{
  background-color: rgba(0, 0, 0, 0.05);
}

button{
  margin: 2%;
}
label{
 color: #ffc107;
 font-weight: bold;
  margin: 10px;
  padding: 1%;
}
.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
form {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
}
table{
  margin-left: 30px;
}
input {
  width: 100%;
  padding: 5px;
}


